* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 37px;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-weight: bold;
  transition: background-color .3s;
}

.wrapper {
  width: 1050px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
}

.header {
  height: 100vh;
  background-image: url(../img/navigation/bg.svg);
  background-repeat: no-repeat;
  width: auto;
  background-size: cover;
  padding: 36px 0 200px 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}

.navigation__logo {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__list--item {
  margin-right: 21px;
}

.navigation__list--item:nth-child(4) {
  margin-right: 39px;
}

.navigation__list--item:last-child {
  margin-right: 0;
}

.navigation__list--item-link {
  transition: color .3s;
}

.navigation__list--item-link:hover {
  color: #FF7B47;
}

.navigation__list--item-link::after {
  content: '';
  position: relative;
  display: block;
  top: 5px;
  width: 0%;
  height: 2px;
  background-color: #FF7B47;
  transition: width .3s ease-out;
}

.navigation__list--item-link:hover::after, .navigation__list--item-link:focus::after {
  width: 100%;
}

.navigation__list--item-btn {
  background-color: transparent;
}

.main {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-top: 120px;
  color: #FFFFFF;
  letter-spacing: 0.2px;
}

.main__title {
  text-align: center;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  margin-bottom: 40px;
}

.main__text {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 40px;
}

.main__buttons--now, .main__buttons--more {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  padding: 10px 36px;
  margin-right: 10px;
}

.main__buttons--now:hover, .main__buttons--more:hover {
  background-color: #FF7B47;
  border: none;
  padding: 11px 37px;
}

.main__buttons--more {
  margin-right: 0;
  width: 157px;
}

.features {
  padding-top: 100px;
  padding-bottom: 204px;
  background-color: #FAFAFA;
}

.features .clients {
  background-color: #FFFFFF;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 20px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.features .clients__item {
  display: flex;
}

.features .clients__item--img {
  width: 48px;
  height: 48px;
  margin-right: 14.5px;
}

.features .clients__item--inner-count {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #252B42;
}

.features .clients__item--inner-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.features__inner {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features__inner--item {
  margin-right: 30px;
  background-color: #FFFFFF;
  padding: 35px 10px 35px 40px;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.features__inner--item:last-child {
  margin-right: 0;
}

.features__inner--item-img {
  width: 48px;
  height: 48px;
}

.features__inner--item-title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.features__inner--item-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: #737373;
}

.features__inner--item-btn {
  background-color: transparent;
  border: 1px solid #0D5C63;
  border-radius: 37px;
  width: 124px;
  padding: 10px 30px;
  position: relative;
  color: #0D5C63;
  transition: all .3s;
}

.features__inner--item-btn::after {
  content: "";
  background-image: url(../img/arrow/arrow-icon.svg);
  width: 16px;
  height: 10px;
  position: absolute;
  left: 80px;
  top: 14px;
}

.features__inner--item-btn:hover {
  background-color: #0D5C63;
  color: #FF7B47;
  cursor: pointer;
  padding: 10px 40px;
}

.about {
  background-color: #FAFAFA;
  padding-bottom: 136px;
}

.about__info--title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 100px;
}

.about__info--title-main {
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 15px;
}

.about__info--title-text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.about__another {
  display: flex;
}

.about__another .about__another--wrap {
  width: 333px;
}

.about__another--video {
  margin-right: 121.5px;
  position: relative;
}

.about__another--video-btn {
  position: absolute;
  top: 172px;
  left: 250px;
}

.about__another--trusted {
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
}

.about__another--text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-bottom: 50px;
}

.about__another--inner {
  display: flex;
  margin-bottom: 30px;
  align-items: start;
}

.about__another--inner:last-child {
  margin-bottom: 0;
}

.about__another--inner-img {
  margin-right: 21.25px;
}

.about__another--inner-text .up {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
  margin-bottom: 5px;
}

.about__another--inner-text .down {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.opinions {
  padding: 80px 0;
  background-color: #17213c;
  text-align: center;
}

.opinions__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.opinions__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

.opinions__about {
  margin-top: 50px;
  display: flex;
  min-width: 0;
}

.opinions__slider {
  min-width: 0;
}

.opinions__slider--item {
  max-width: 490px;
  padding: 30px 60px;
  background-color: #FFFFFF;
  margin-right: 92px;
  position: relative;
}

.opinions__slider--item-img {
  position: absolute;
  top: 25px;
  left: -60px;
}

.opinions__slider--item:last-child {
  margin-right: 0;
}

.opinions__slider--item-name {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.opinions__slider--item-occupation {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.opinions__slider--item-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  text-align: left;
  margin-top: 15px;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.team {
  padding: 80px 0;
  text-align: center;
  background-color: #FAFAFA;
}

.team__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.team__text {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.team__inner {
  display: flex;
  justify-content: space-between;
}

.team__inner--item {
  width: 238px;
  padding: 30px 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.team__inner--item-position {
  color: #FF7B47;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin: 5px 0;
}

.team__inner--item-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
  margin-bottom: 5px;
}

.team__inner--item-text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.quote {
  background-size: auto 40px;
  padding: 50px 0;
  background: linear-gradient(to bottom, #252B42 65%, #FAFAFA 35%);
}

.quote__branches {
  display: flex;
}

.quote__branches--text {
  color: #FFFFFF;
  margin-right: 176px;
  width: 602px;
}

.quote__branches--text-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  margin-bottom: 15px;
}

.quote__branches--text-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-bottom: 150px;
}

.quote__form {
  display: flex;
}

.quote__form--inner {
  background-color: #FFFFFF;
  padding: 40px 50px;
}

.quote__form--inner-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 40px;
}

.quote__form--inner-form {
  display: flex;
  flex-direction: column;
}

.quote__form--inner-form label {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 10px;
}

.quote__form--inner-form input {
  font-family: "Montserrat";
  margin-bottom: 10px;
  padding: 11px 21px;
  width: 588px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #BDBDBD;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
}

.quote__form--inner-form input:focus {
  background-color: #F9F9F9;
  border: 1px solid;
  border-color: #252B42;
}

.quote__form--inner-form input[type*="submit"] {
  margin-top: 50px;
  background-color: #FF7B47;
  color: #FFFFFF;
  cursor: pointer;
  transition: opacity .3s;
}

.quote__form--inner-form input[type*="submit"]:hover {
  opacity: 0.9;
}

footer {
  padding-top: 80px;
  background-color: #FFFFFF;
}

footer .copyrights {
  text-align: left;
  margin-top: 50px;
  padding: 20px 0;
  background-color: #FAFAFA;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer__inner--list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 10px;
}

.footer__inner--list-item:first-child {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
  margin-bottom: 25px;
}

.footer__inner--list-item a:hover {
  text-decoration: underline;
}

.footer__inner--list-item img {
  margin: 20px 10px;
  transition: all .5s;
}

.footer__inner--list-item img:first-child {
  margin-left: 0px;
}

.footer__inner--list-item img:hover {
  transform: scale(1.2);
}
/*# sourceMappingURL=style.css.map */