@import "vars";

* {
    box-sizing: border-box;
}

body {
    font-family: $main-font;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 37px;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-weight: bold;
    transition: background-color .3s;
}

.wrapper {
    width: 1050px;
    margin: 0 auto;
}

.container {
    width: auto;
    margin: 0 auto;
}

.header {
    height: 100vh;
    background-image: url(../img/navigation/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 36px 0 200px 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.1px;
    color: $main-font-color;

    &__logo {
        font-size: 24px;
        line-height: 32px;
        font-weight: bold;
    }

    &__list {
        display: flex;
        align-items: center;

        &--item {
            margin-right: 21px;

            &:nth-child(4) {
                margin-right: 39px;
            }

            &:last-child {
                margin-right: 0;
            }

            &-link {
                transition: color .3s;

                &:hover {
                    color: $main-hover-color;

                }

                &::after {
                    content: '';
                    position: relative;
                    display: block;
                    top: 5px;
                    width: 0%;
                    height: 2px;
                    background-color: $main-hover-color;
                    transition: width .3s ease-out;
                }

                &:hover::after,
                &:focus::after {
                    width: 100%;
                }
            }

            &-btn {
                background-color: transparent;
            }
        }
    }
}

.main {
    display: flex;
    align-items: center;
    flex-flow: column;
    margin-top: 120px;
    color: $main-font-color;
    letter-spacing: 0.2px;

    &__title {
        text-align: center;
        font-weight: 800;
        font-size: 58px;
        line-height: 80px;
        margin-bottom: 40px;
    }

    &__text {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 40px;
    }

    &__buttons {

        &--now {
            background-color: transparent;
            border: 1px solid $main-font-color;
            color: $main-font-color;
            padding: 10px 36px;
            margin-right: 10px;

            &:hover {
                background-color: $main-hover-color;
                border: none;
                padding: 11px 37px;
            }
        }

        &--more {
            @extend .main__buttons--now;
            margin-right: 0;
            width: 157px;
        }
    }
}

.features {
    padding-top: 100px;
    padding-bottom: 204px;
    background-color: $main-bg-color;

    .clients {
        background-color: $main-font-color;
        height: 96px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 20px;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);


        &__item {
            display: flex;

            &--img {
                width: 48px;
                height: 48px;
                margin-right: 14.5px;
            }

            &--inner {
                &-count {
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 32px;
                    color: #252B42
                }

                &-text {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: 0.2px;
                    color: $third-font-color;
                }
            }

        }
    }

    &__inner {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;



        &--item {
            margin-right: 30px;
            background-color: $main-font-color;
            padding: 35px 10px 35px 40px;
            height: 290px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);

            &:last-child {
                margin-right: 0;
            }


            &-img {
                width: 48px;
                height: 48px;
            }

            &-title {
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.1px;
                color: $second-font-color;
            }

            &-text {
                font-size: 14px;
                line-height: 20px;
                font-weight: bold;
                letter-spacing: 0.2px;
                color: $third-font-color;
            }

            &-btn {
                background-color: transparent;
                border: 1px solid #0D5C63;
                border-radius: 37px;
                width: 124px;
                padding: 10px 30px;
                position: relative;
                color: #0D5C63;
                transition: all .3s;

                &::after {
                    content: "";
                    background-image: url(../img/arrow/arrow-icon.svg);
                    width: 16px;
                    height: 10px;
                    position: absolute;
                    left: 80px;
                    top: 14px;
                }

                &:hover {
                    background-color: #0D5C63;
                    color: $main-hover-color;
                    cursor: pointer;
                    padding: 10px 40px
                }
            }


        }
    }
}

.about {
    background-color: $main-bg-color;
    padding-bottom: 136px;

    &__info {

        &--title {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-bottom: 100px;

            &-main {
                font-weight: bold;
                font-size: 40px;
                line-height: 57px;
                letter-spacing: 0.2px;
                color: $who-we-are-font-color;
                margin-bottom: 15px;
            }

            &-text {
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.2px;
                color: $third-font-color;
            }
        }
    }

    &__another {
        display: flex;

        .about__another--wrap {
            width: 333px;
        }

        &--video {
            margin-right: 121.5px;
            position: relative;

            &-btn{
            position: absolute;
            top: 172px;
            left: 250px;
            }

        }

        &--trusted {
            font-weight: bold;
            font-size: 40px;
            line-height: 57px;
            letter-spacing: 0.2px;
            margin-bottom: 10px;
        }

        &--text {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.2px;
            margin-bottom: 50px;
        }

        &--inner {
            display: flex;
            margin-bottom: 30px;
            align-items: start;

            &:last-child {
                margin-bottom: 0;
            }

            &-img {
                margin-right: 21.25px;
            }

            &-text {

                .up {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.1px;
                    color: $who-we-are-font-color;
                    margin-bottom: 5px;
                }

                .down {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: 0.2px;
                    color: $third-font-color;
                }


            }


        }
    }
}

.opinions {
    padding: 80px 0;
    background-color: rgba(23, 33, 60, 1);
    text-align: center;

    &__title {
        font-weight: bold;
        font-size: 40px;
        line-height: 57px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        margin-bottom: 10px;
    }

    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }

    &__about {
        margin-top: 50px;
        display: flex;
        min-width: 0;
    }

    &__slider {
        min-width: 0;
        // padding: 50px 50px;

        &--item {

            max-width: 490px;
            padding: 30px 60px;
            background-color: #FFFFFF;
            margin-right: 92px;
            position: relative;

            &-img {
                position: absolute;
                top: 25px;
                left: -60px;
            }

            &:last-child {
                margin-right: 0;
            }

            &-name {
                font-weight: bold;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 0.1px;
                color: $second-font-color;
            }

            &-occupation {
                font-weight: 600;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.2px;
                color: $third-font-color;
            }

            &-description {
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.2px;
                color: $third-font-color;
                text-align: left;
                margin-top: 15px;
            }
        }
    }
}

.slick {

    &-track {
        display: flex;
    }

    &-list {
        overflow: hidden;
    }

}

.team {
    padding: 80px 0;
    text-align: center;
    background-color: $main-bg-color;

    &__title {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 40px;
        line-height: 57px;
        letter-spacing: 0.2px;
        color: $who-we-are-font-color;
    }

    &__text {
        margin-bottom: 50px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: $third-font-color;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        &--item {
            width: 238px;
            padding: 30px 40px;
            background-color: $main-font-color;
            box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);

            &-position {
                color: $main-hover-color;
                font-weight: 600;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.2px;
                margin: 5px 0;
            }

            &-name {
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.1px;
                color: $who-we-are-font-color;
                margin-bottom: 5px;
            }

            &-text {
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.2px;
                color: $third-font-color;
            }
        }
    }
}

.quote {
    background-size: auto 40px;
    padding: 50px 0;
    background: linear-gradient(to bottom, $who-we-are-font-color 65%, $main-bg-color 35%);

    &__branches {
        display: flex;

        &--text {
            color: $main-font-color;
            margin-right: 176px;
            width: 602px;

            &-title {
                font-weight: bold;
                font-size: 40px;
                line-height: 57px;
                letter-spacing: 0.2px;
                margin-bottom: 15px;
            }

            &-description {
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.2px;
                margin-bottom: 150px;
            }
        }
    }

    &__form {
        display: flex;

        &--inner {
            background-color: $main-font-color;
            padding: 40px 50px;

            &-title {
                font-weight: bold;
                font-size: 40px;
                line-height: 57px;
                letter-spacing: 0.2px;
                color: $who-we-are-font-color;
                margin-bottom: 40px;
            }

            &-form {
                display: flex;
                flex-direction: column;

                label {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: 0.2px;
                    color: $second-font-color;
                    margin-bottom: 10px;
                }

                input {
                    font-family: $main-font;
                    margin-bottom: 10px;
                    padding: 11px 21px;
                    width: 588px;
                    border-radius: 5px;
                    outline: none;
                    border: 1px solid #BDBDBD;
                    // text
                    font-size: 14px;
                    line-height: 28px;
                    letter-spacing: 0.2px;
                    color: $third-font-color;


                    &:focus {
                        background-color: #F9F9F9;
                        border: 1px solid;
                        border-color: $second-font-color;
                    }
                }

                input[type*="submit"] {
                    margin-top: 50px;
                    background-color: $main-hover-color;
                    color: $main-font-color;
                    cursor: pointer;
                    transition: opacity .3s;

                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
        }
    }
}

footer {
    padding-top: 80px;
    background-color: $main-font-color;

    .copyrights {
        text-align: left;
        margin-top: 50px;
        padding: 20px 0;
        background-color: $main-bg-color;
    }
}

.footer {
    display: flex;
    justify-content: space-between;

    &__inner {

        &--list {

            &-item {
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.2px;
                color: $third-font-color;
                margin-bottom: 10px;

                &:first-child {
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 32px;
                    letter-spacing: 0.1px;
                    color: #252B42;
                    margin-bottom: 25px;
                }

                a{
                    &:hover{
                        text-decoration: underline;
                    }
                }

                img {
                    margin: 20px 10px;
                    transition: all .5s;

                    &:first-child{
                        margin-left: 0px;
                    }

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}