@import 'vars';

body {
    font-family: "DM Sans";
}

button {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    position: relative;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px 0;
}

.gradient-container {
    background: conic-gradient(from 180deg at 50% 50%, rgba(0, 163, 255, 0.67) 0deg, rgba(5, 255, 0, 0.31) 360deg);
    filter: blur(350px);
    width: 720px;
    height: 508px;
    top: 143px;
    left: 360px;
}

.header {
    color: $main-font-color;
    padding: 333px 0 533px 0;

    &__scroll {
        display: none;
    }
}

h1 {
    font-weight: normal;
    font-size: 48px;
    top: 333px;
    left: 216px;
    line-height: 64px;
    text-align: center;

    span {
        font-weight: bold;
    }
}

.about {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__inner {
        padding: 38px 25px 38px 50px;
        width: 744px;
        background: #FFFFFF;
        box-shadow: 0px 4px 23px rgba(27, 27, 27, 0.1);
        border-radius: 23px;
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 34px;
        color: $second-font-color;

        &:last-child {
            margin-bottom: 0;
        }
    }
}


h2 {
    text-align: center;
    font-weight: 500;
    font-size: 48px;
    line-height: 64px;
    color: $main-font-color;
    margin-bottom: 70px;
}

.skills {
    padding: 100px 0;
    display: grid;
    justify-content: center;

    h3 {
        text-align: center;
        margin-bottom: 98px;
        grid-column: 1 / 4;
        grid-row: 1 / 1;
        font-size: 48px;
        line-height: 64px;
    }

    &__item {
        margin-right: 124px;
        margin-bottom: 61.08px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--img {
            margin-bottom: 33.09px;
        }

        &--title {
            font-size: 18px;
            line-height: 23px;
            color: $main-font-color;
        }

        &:nth-child(1) {
            grid-column: 2 / 2;
            grid-row: 1 / 1;
            margin-bottom: 98px;
        }

        &:nth-child(2) {
            grid-column: 1 / 1;
            grid-row: 2 / 2;
        }

        &:nth-child(3) {
            grid-column: 2 / 2;
            grid-row: 2 / 2;
        }

        &:nth-child(4) {
            grid-column: 3 / 3;
            grid-row: 2 / 2;
            margin-right: 0;
        }

        &:nth-child(5) {
            grid-column: 1 / 1;
            grid-row: 3 / 3;
        }

        &:nth-child(6) {
            grid-column: 2 / 2;
            grid-row: 3 / 3;
        }

        &:nth-child(7) {
            grid-column: 3 / 3;
            grid-row: 3 / 3;
            margin-right: 0;
        }

    }
}

.works {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 153px;

    h3 {
        margin-bottom: 100px;
        font-weight: 500;
        font-size: 48px;
        line-height: 64px;
        color: $main-font-color;
    }

    &__inner {
        display: grid;
        grid-gap: 27.67px;

        &--img {
            position: relative;
        
            .works-images {
                width: 367.26px;
                height: 367.26px;
                position: relative;
            }

            &:hover {
                background: linear-gradient(0deg, rgba(35, 35, 35, 0.8), rgba(35, 35, 35, 0.8));
                border-radius: 18px;

                .works-images {
                    z-index: -20;
                }

                a {
                    display: block;
                }
            }

            a {
                position: absolute;
                top: 50%;
                left: 25%;
                display: none;
                padding: 10px 25px;
                background: #485BFF;
                border-radius: 1000px;
                font-weight: bold;
                font-size: 14px;
                line-height: 24px;
                color: #FFFFFF;
            }

            &:nth-child(1) {
                grid-row: 1/1;
                grid-column: 1/1;
            }

            &:nth-child(2) {
                grid-row: 1/1;
                grid-column: 2/2;
            }

            &:nth-child(3) {
                grid-row: 1/1;
                grid-column: 3/3;
            }

            &:nth-child(4) {
                grid-row: 2/2;
                grid-column: 1/1;
            }

            &:nth-child(5) {
                grid-row: 2/2;
                grid-column: 2/2;
            }
        }


    }
}

.footer{
    padding: 50px;
    display: flex;
    justify-content: center;
}