body {
    font-family: "DM Sans";
}

.container {
    width: 1440px;
    margin: 0 auto;
    position: relative;
}

.gradient-container {
    position: absolute;
    background: conic-gradient(from 180deg at 50% 50%, rgba(0, 163, 255, 0.67) 0deg, rgba(5, 255, 0, 0.31) 360deg);
    filter: blur(463px);
    width: 720px;
    height: 508px;
    top: 143px;
    left: 360px;
}

.header {}

h1 {
    position: absolute;
    font-size: 48px;
    font-weight: normal;
    top: 333px;
    left: 216px;
    line-height: 64px;
    text-align: center;

    span {
        font-weight: bold;
    }
}